body {
    margin: 0;
    background-color: #373B47;
    color: white;
    min-width: 50%;
}

#layout {
    display: flex;
    min-height: 85vh;
    margin: 6px;
}

#navigationSide {
    width: 150px;
    height: 85vh;
    background-color: #4E5664;
    color: white;
    border-radius: 13px;
    border: #EEE1E1 solid 1px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#content {
    flex: 1;
    color: white;
}

#navigationSide ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#navigationSide li {
    width: 100%;
}

#navigationSide a {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    background-color: #698B8F;
    border-radius: 10px;
    padding: 12px 14px;
    margin-top: 8px;
    color: white;
}

#navigationSide i {
    font-size: 16px;
    min-width: 20px;
    text-align: center;
}

#navigationSide a:hover {
    background-color: #5d7b7f;
    transform: scale(1.03);
}

#navigationSide a:active {
    color: aqua;
}

#navigationSide li.logout {
    margin-top: auto;
    padding-top: 12px;
    border-top: 1px solid #EEE1E1;
}

header {
    height: 60px;
    padding: 10px;
    background-color: #71AAB1;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#leftHeader,
#rightHeader {
    display: flex;
    align-items: center;
    gap: 9px;
}

#rightHeader {
    justify-content: right;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: black;
}

#navigationSide p {
    font-weight: bold;
    font-size: 14px;
}

#navigationSide li.logout {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #EEE1E1;
}

#header-text {
    padding: 0%;
    margin: 0%;
    margin-bottom: 25px;
}

#header-text h1,
h4 {
    margin-bottom: 0%;
}

#header-text p {
    margin-top: 0%;
    color: black;
}

#navigationSide p {
    margin-top: 0%;
    text-wrap-mode: nowrap;
}

#navigationSide img {
    margin-bottom: 2%;
}

.profile-img-right {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    background-color: black;
}

footer {
    background-color: #071236;
    height: 100px;
}

/* Master page style */
/* ==================================================================== */

#dashboard-text-presentation h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#dashboard-text-presentation p {
    margin-top: 0px;
    color: #BDBDBD;
}

#dashboard-text-presentation {
    display: flex;
    flex-direction: column;
}

#dashboard-text-presentation2 {
    display: flex;
    flex-direction: column;
}

#dashboard-main-decr {
    display: flex;
    flex-direction: column;
}

#dashboard-text-presentation2 h1,
p {
    margin: 0%;
}

#mainbox {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#subBox {
    border: #EEE1E1 solid 1px;
    width: 250px;
    height: 180px;
    border-radius: 14px;
    padding-left: 10px;
    margin-right: 30px;
    justify-content: center;
    justify-items: center;
    box-shadow: 3px 1.5px 4px #849ad8;

    display: flex;
    flex-direction: column;

}

#subBox p {
    font-weight: bold;
    font-size: medium;
}

#subBoxBottom {
    border: #EEE1E1 solid 1px;
    width: 1130px;
    height: 185px;
    border-radius: 14px;
    display: flex;
    padding: 5px;
    margin-right: 30px;
    justify-content: center;
    justify-items: center;
    margin-top: 6px;
    box-shadow: 3px 1.5px 4px #849ad8;
}

#imageBox {
    background-color: #B2EBF2;
    width: 90px;
    height: 90px;
    border-radius: 8px;
    margin-bottom: 8px;
}

#viewDetails {
    text-align: center;
    color: #51CFBC;
}

/* product styling==================================================================================== */
#prd-up-div {
    border: #EEE1E1 solid 1px;
    width: 99%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 5px;

    justify-content: space-between;
    align-items: center;
    display: flex;
}

#prd-down-div {
    border: #EEE1E1 solid 1px;
    width: 99%;
    height: 458px;
    display: flex;
    padding: 5px;
    margin-top: 6px;
}

#btn_addProduct {
    height: 30px;
    cursor: pointer;
    background-color: #7EEF14;
    color: white;
    font-weight: bold;
}

#txt_search {
    height: 30px;
}

#filter-gropdown {
    height: 30px;
    width: 90px;
}

#rightProduct-div {
    display: flex;
    align-items: center;
    /* gap: 9px; */
}

#prd-down-div {
    display: flex;
}

#productTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f4f4f4;

}

#addingProductSectionMain {
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#subAdding {
    height: 500px;
    width: 600px;
    padding: 6px;
    font-size: x-large;

    border: #EEE1E1 solid 1px;
    border-radius: 12px;
    box-shadow: 3px 2px 4px #849ad8;
}

#subAdding h1 {
    text-align: center;
}

#hBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;
}

#lbl-Box {
    margin-right: 10px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: left;
}

#txt-Box {
    display: flex;
}

.txtInput {
    height: 25px;
    width: 350px;
    margin-left: 14px;
    border-radius: 10px;
    border: 0px;
    font-size: medium;
    padding: 6px;
}

.btn_addPro {
    height: 30px;
    cursor: pointer;
    background-color: #7EEF14;
    color: white;
    font-weight: bold;

    height: 40px;
    width: 120px;
    border: none;
}

.btn_addPro:active {
    border: black 1px solid;
}

#hBox-button {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#selectorMovement{

}
#selectorCategory{

}
#lbl-Box2 {
    margin-right: 10px;
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: left;
}

#txt-Box2 {
    display: flex;
    margin-left: 20px;
}
.txtInput2 {
    height: 25px;
    width: 300px;
    margin-left: 14px;
    border-radius: 10px;
    border: 0px;
    font-size: medium;
    padding: 6px;
}
.txtInputT{
    height: 35px;
    width: 313px;
    margin-left: 14px;
    border-radius: 10px;
    border: 0px;
    font-size: medium;
    padding: 6px;
}