.supplierMainContent{
    display: flex;
    flex-direction: row;
    padding: 2px;
    height:530px;
}
.supplier-left-content{
     border: 1px solid #EEE1E1;
     height: 525px;
     flex: 0.7;
     margin-right: 5px;
     padding: 6px;
}
.supplier-right-content{
     border: 1px solid #EEE1E1;
     height: 525px;
     flex: 1;
     padding: 6px;
}
.supplier-left-content h1{
    text-align: center;
    margin-bottom: 80px;
}
.supplier-left-content label{
    font-size: 30px;
}
.button_container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_add_supplier{
    height: 40px;
    cursor: pointer;
    background-color: #7EEF14;
    color: white;
    font-weight: bold;
    border: none;
    width: 120px;
}
